<div class="background" style="height: 1100px;">
  <div class="rounded shadow sign-up">
    <h2 class="text-center my-4"><strong>新規登録ページ</strong><i class="fas fa-user-plus" style="color: black; font-size: 27px;"></i></h2>

    <%= form_with model: @user, url: users_sign_up_confirm_path(@user), local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="my-3 col-md-8 offset-md-2">
        <label>名前(フルネーム)</label><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "例:田中太郎" %>
      </div>

      <div class="my-3 col-md-8 offset-md-2">
        <label>ユーザーネーム</label><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control", placeholder: "TARO" %>
      </div>

      <div class="my-3 col-md-8 offset-md-2">
        <label>性別(登録した性別は他ユーザーには表示されません)</label><br />
        <label><%= f.radio_button :sex, :男性 %>男性</label>
        <label><%= f.radio_button :sex, :女性 %>女性</label>
      </div>

      <div class="my-3 col-md-8 offset-md-2">
        <label>メールアドレス</label><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "example@example.email" %>
      </div>

      <div class="my-3 col-md-8 offset-md-2">
        <label>パスワード</label>
        <% if @minimum_password_length %>
        <em>(英数字含む <%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="my-3 col-md-8 offset-md-2">
        <label>パスワード(確認)</label><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
      <br />
      <p class="text-center mb-5" style="color: red;">※性別、メールアドレス、パスワードは登録後の変更はできません。ご注意ください。</p>
      <div class="actions my-3">
        <%= f.submit "確認画面へ✔︎", class: "btn btn-primary col-md-8 offset-md-2" %>
      </div>
    <% end %>

    <p class="text-center">--既に登録済みのユーザーはこちら--</p>

    <%= link_to new_user_session_path do %>
      <button type="button" class="btn btn-success btn-sm my-3 col-md-8 offset-md-2">ログインへ<i class="fas fa-sign-in-alt btn" style="color: white; font-size: 27px;"></i></button>
    <% end %>
  </div>
</div>