<div class="row">
  <div class="col-md-6 mx-auto bg-white rounded shadow p-3 my-5 pb-5">
    <h2 class="my-3 text-center"><strong>ユーザー情報編集<i class="fas fa-users-cog" style="color: black; font-size: 40px;"></i></strong></h2>
    <%= form_with model: @user, local: true do |f| %>

      <div class="my-5 col-md-5 offset-md-4">
        <%= attachment_image_tag @user,:user_image, :fill, 150, 150, format: 'jpeg', fallback: "user_icon2.png", size: '150x150', class: "mt-1 rounded-circle" %>
      </div>

      <div class="my-3 col-md-8 offset-md-2">
        <label>アイコン</label><br />
        <%= f.attachment_field :user_image %>
      </div>

      <div class="my-3 col-md-8 offset-md-2">
        <label>名前(フルネーム)</label><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>

      <div class="my-3 col-md-8 offset-md-2">
        <label>ユーザーネーム</label><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control" %>
      </div>

      <div class="my-3 col-md-8 offset-md-2">
        <label>性別(登録した性別は他ユーザーには表示されません)</label><br />
        <label><strong><%= current_user.sex %></strong></label>
      </div>

      <div class="my-3 col-md-8 offset-md-2">
        <label>メールアドレス</label><br />
        <label><strong><%= current_user.email %></strong></label>
      </div>

      <div class="my-3 col-md-8 offset-md-2">
        <labal>紹介文</labal><br />
        <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class: "form-control" %>
      </div>

      <%= f.submit "ユーザー内容を更新する", class: "btn btn-primary col-md-6 offset-md-3 my-3" %>

    <% end %>
  </div>
</div>