<div class="row mt-5">
  <div class="col-md-5 mx-auto bg-white rounded shadow p-3 my-5 pb-5">
    <h2 class="text-center"><strong>ユーザー詳細<i class="fas fa-portrait" style="color: black; font-size: 30px;"></i></strong></h2>

    <div class="row">
      <div class="col-md-4 offset-md-2 rounded-circle my-3">
        <%= attachment_image_tag @user,:user_image, :fill, 170, 170, format: 'jpeg', fallback: "user_icon2.png", size: '170x170', class: "shadow rounded-circle" %>
      </div>
      <div class="my-4 col-md-4 mx-5">
        <label class="text-center" style="font-size: 30px; text-decoration: underline;"><strong><%= @user.nickname %></strong></label>
      </div>
    </div>

    <div class="col-md-10 py-4 mx-auto" style="border-bottom: solid lightgray;">
      <% if @user.introduction.blank? %>
        <p class="text-center"><strong>このユーザーの説明はありません。</strong></p>
      <% else %>
        <p><%= @user.introduction %></p>
      <% end %>
    </div>

    <% if @user == current_user %>
      <%= link_to edit_user_path(@user) do %>
        <button type="button" class="btn btn-success col-md-5 offset-md-3 my-3 shadow"><i class="fas fa-user-edit"></i></button>
      <% end %>
      <br />
      <%= link_to destroy_user_session_path, method: :delete, "data-confirm" => "このアカウントをログアウトしますか?", class:"text-white" do %>
        <button type="button" class="btn btn-danger col-md-5 offset-md-3 shadow"><i class="fas fa-sign-out-alt"></i></button>
      <% end %>
    <% else %>
      <div class="offset-md-5 mt-5">
        <%= render "follow_form" %>
      </div>
    <% end %>
  </div>
</div>

<% if @user.posts.blank? %>
  <div class="col bg-white rounded shadow p-3 my-3 pb-5 mx-auto">
    <h3 class="text-center">このユーザーの投稿はまだありません</h3>
  </div>
<% else %>
  <div class="row">
    <% @user.posts.each do |post| %>
      <div class="col-md-2 bg-white rounded shadow p-3 my-3 pb-5 mx-auto">
        <% if post.post_images.present? %>
          <% post.post_images.first(1).each do |post_image| %>
            <div>
              <%= link_to post_path(post) do %>
                <%= attachment_image_tag post_image, :image, size: "200x150", class: "mx-auto border border-3 my-auto" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
