<div class="row">
  <div class="col-md-4 bg-white rounded shadow p-3 my-5 pb-5 mx-auto">
    <h2><strong>ログインする<i class="fas fa-sign-in-alt " style="color: black; font-size: 30px;"></i></strong></h2>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="my-3 offset-md-2 col-md-8">
          <label>メールアドレス</label><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="my-3 offset-md-2 col-md-8">
          <label>パスワード</label><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "ログインする", class: "btn btn-success offset-md-2 col-md-8" %>
        </div>
      <% end %>
      <br />
      <p class="text-center">--新規登録がまだの方--</p>

      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-outline-primary offset-md-2 col-md-8 mt-2">新規登録へ</button>
      <% end %>
  </div>
</div>
